.user-icon {
    font-size: 20px;
}
#verify_badge {
    background-color: #004438;
}
#verify_badge a {
    color: #fff;
}
.title h1 {
    font-size: 32px !important;
    padding-top: 50px;
}

.issueorg a {
    color: #0056b3;
    text-decoration: underline;
}
.issueorg p {
    font-size: 15px;
}
.description p {
    font-size: 19px;
}

.tags button {
    background-color: #efefef;
    color: #000;
}

#region-main {
    padding: 1rem;
    overflow: hidden;
    max-width: 100%;
    border: 0 !important;
    border-radius: 0.3rem !important;
    height: 100%;
}
