<div class="local_verify_badge_index"  id="local_verify_badge_index">
    <div class="row form-group">
        <div class="col-12">
            <div class="box-title">
                <div class="row align-items-center">
                    <div class="col-10 ps-3">
                    </div>
                    <div class="col-2 text-end pe-4">
                        <a href="{{{config.wwwroot}}}/local/develop/courseblocks.php?id={{courseid}}">
                            <i class="fa fa-arrow-left succeed-back-link" aria-hidden="true"></i>
                        </a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-6 vertical-line">
        <form method= "POST" id="verifybadge" class="verifybadge">
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                    <label for="badge-logo">
                        {{#str}}badge_logo, local_verify_badge{{/str}}
                    </label>
                    <span class = "text-danger">*</span>
                </div>
                <div class="col-12 col-sm-6 col-md-8 badge-validate">
                    <input type="file" class="badge-logo" name="file" id="badge-logo" value="" accept="image/*" />
                    <div class="form-control-feedback invalid-feedback" id="error_badge-logo" tabindex="0">
                        - {{#str}}enter_badge_logo, local_verify_badge{{/str}}
                    </div>
                </div>
            </div>
            <div class="form-group row align-items-center badge-image-container {{^imageexists}} d-none {{/imageexists}}">
                <div class="d-none d-sm-block col-sm-6 col-md-4"></div>
                <div class="col-11 col-sm-5 col-md-4">
                    <img src="{{imagepath}}" class="badge-preview-photo w-100">
                </div>
                <div class="col-1 ps-0 align-self-start">
                    <i class="fa fa-trash badge-remove-icon delete " style="cursor: pointer;"></i>
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                    <label for="title">
                        {{#str}}title, local_verify_badge{{/str}}
                    </label>
                    <span class = "text-danger">*</span>
                     <span class='icon-span pull-right'>
                        <i class="icon fa fa-question-circle text-center text-info fa-fw">
                        </i>
                        <span class='icon-tooltip text-start'>
                            {{#str}}help_title, local_verify_badge{{/str}}
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8 title-validate">
                    <input type="text" class="form-control form-control-sm title margin" name="title" id="title"
                        value="{{#title}}{{title}}{{/title}}" title="{{#str}}title, local_block_course_linkedincert{{/str}}">
                    <div class="form-control-feedback invalid-feedback" id="error_title" tabindex="0">
                            - {{#str}}enter_title, local_verify_badge{{/str}}
                    </div>
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                    <label for="badge-text">
                        {{#str}}badge_text, local_verify_badge{{/str}}
                    </label>
                    <span class = "text-danger">*</span>
                    <span class='icon-span pull-right'>
                        <i class="icon fa fa-question-circle text-center text-info fa-fw">
                        </i>
                        <span class='icon-tooltip text-starttt'>
                            {{#str}}help_badge_text, local_verify_badge{{/str}}
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8 badge-text-validate">
                    <input type="text" class="form-control form-control-sm badge-text margin" name="badge-text" id="badge-text"
                        value="{{#badgetext}}{{badgetext}}{{/badgetext}}" title="{{#str}}badge-text, local_block_course_linkedincert{{/str}}">
                    <div class="form-control-feedback invalid-feedback" id="error_badge-text" tabindex="0">
                        - {{#str}}enter_badge_text, local_verify_badge{{/str}}
                    </div>
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                    <label for="badge-link">
                        {{#str}}badge_link, local_verify_badge{{/str}}
                    </label>
                    <span class = "text-danger">*</span>
                    <span class='icon-span pull-right'>
                        <i class="icon fa fa-question-circle text-center text-info fa-fw">
                        </i>
                        <span class='icon-tooltip text-starttt'>
                            {{#str}}help_badge_link, local_verify_badge{{/str}}
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8 badge-link-validate">
                    <input type="text" class="form-control form-control-sm badge-link margin" name="badge-link" id="badge-link"
                        value="{{#badgelink}}{{badgelink}}{{/badgelink}}" title="{{#str}}badge-link, local_block_course_linkedincert{{/str}}">
                    <div class="form-control-feedback invalid-feedback" id="error_badge-link" tabindex="0">
                        - {{#str}}enter_badge_link, local_verify_badge{{/str}}
                    </div>
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 align-self-start text-end">
                    <label for="badge-description">
                        {{#str}}badge-description, local_verify_badge{{/str}}
                    </label>
                    <span class="text-danger">*</span>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <div class="badge-description-validate"> 
                        <textarea name="badge-description" class="form-control form-control-sm badge-description"  maxlength="300" rows="">{{#description}}{{description}}{{/description}}</textarea>
                    </div>
                    <div class="form-control-feedback invalid-feedback" id="error_badge-description" tabindex="0">
                        {{#str}}enter_badge_description, local_verify_badge{{/str}}
                    </div>
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                    <label for="issueorg">
                        {{#str}}issue_org, local_verify_badge{{/str}}
                    </label>
                    <span class = "text-danger">*</span>
                    <span class='icon-span pull-right'>
                        <span class='icon-tooltip'>
                            {{#str}}issue_orgs_help, local_verify_badge{{/str}}
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8 issueorg-validate">
                    <input type="text" class="form-control form-control-sm issueorg margin" name="issueorg" id="issueorg" value="{{#issueorg}}{{issueorg}}{{/issueorg}}">
                    <div class="form-control-feedback invalid-feedback" id="error_issueorg" tabindex="0">
                        - {{#str}}enter_issue_org, local_verify_badge{{/str}}
                    </div>
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                    <label for="org-link">
                        {{#str}}org_link, local_verify_badge{{/str}}
                    </label>
                    <span class = "text-danger">*</span>
                    <span class='icon-span pull-right'>
                        <i class="icon fa fa-question-circle text-center text-info fa-fw">
                        </i>
                        <span class='icon-tooltip text-starttt'>
                            {{#str}}help_org_link, local_verify_badge{{/str}}
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8 org-link-validate">
                    <input type="text" class="form-control form-control-sm org-link margin" name="org-link" id="org-link"
                        value="{{#orglink}}{{orglink}}{{/orglink}}" title="{{#str}}org-link, local_block_course_linkedincert{{/str}}">
                    <div class="form-control-feedback invalid-feedback" id="error_org-link" tabindex="0">
                        - {{#str}}enterorglink, local_verify_badge{{/str}}
                    </div>
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                    <label for="tags">
                        {{#str}}tags, local_verify_badge{{/str}}
                    </label>
                    <span class = "text-danger">*</span>
                    <span class='icon-span pull-right'>
                        <span class='icon-tooltip'>
                            {{#str}}designationhelp, local_verify_badge{{/str}}
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8 tags-validate">
                    <input type="text" class="form-control form-control-sm tags margin" name="tags" id="tags" value="{{#tags}}{{tags}}{{/tags}}">
                    <div class="form-control-feedback invalid-feedback" id="error_tags" tabindex="0"></div>
                    <div class="form-control-feedback invalid-feedback" id="error_org-link" tabindex="0">
                        - {{#str}}enter_tags, local_verify_badge{{/str}}
                    </div>
                    ({{#str}}eg_tags, local_verify_badge{{/str}})
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                    <label for="skills">
                        {{#str}}skills, local_verify_badge{{/str}}
                    </label>
                    <span class = "text-danger">*</span>
                    <span class='icon-span pull-right'>
                        <span class='icon-tooltip'>
                            {{#str}}designationhelp, local_verify_badge{{/str}}
                        </span>
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-8 skills-validate">
                    <input type="text" class="form-control form-control-sm skills margin" name="skills" id="skills"  value="{{#skills}}{{skills}}{{/skills}}">
                    <div class="form-control-feedback invalid-feedback" id="error_skills" tabindex="0"></div>
                    <div class="form-control-feedback invalid-feedback" id="error_org-link" tabindex="0">
                        - {{#str}}enter_skills, local_verify_badge{{/str}}
                    </div>
                    ({{#str}}eg_skills, local_verify_badge{{/str}})
                </div>
            </div>
            <div class="row form-group align-items-center">
                <div class="col-12 col-sm-6 col-md-4 align-self-start text-end">
                    <label for="extra-content">
                        {{#str}}extra_content, local_verify_badge{{/str}}
                    </label>
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <div class="extra-content extra-content-validate">
                        <textarea name="cke-editor-extra-content" id="cke-editor-extra-content" class="cke-editor">
                            {{#extracontent}}{{extracontent}}{{/extracontent}}
                        </textarea>
                    </div>
                    <div class="form-control-feedback invalid-feedback" id="error_extra-content" tabindex="0">
                        {{#str}}enter_badge_description, local_verify_badge{{/str}}
                    </div>
                </div>
            </div>
            <div class="row form-group align-items-center mb-0">
                <div class="col-12 col-sm-6 col-md-4 text-end">
                </div>
                <div class="col-12 col-sm-6 col-md-8">
                    <button class="btn btn-primary submitbtn">{{#str}}submitbtn, local_verify_badge{{/str}}</button>
                </div>
            </div>
        </form>
   </div>
        <div class="col-6">
    <div class="X-sample attachment-container primary-border rounded p-3 cursor-pointer">
        <div class="box-title mb-2">
            <label for="">{{#str}}verify_badge_sample, local_verify_badge{{/str}}</label>
        </div>
        <div class="X-sample position-relative">
            <img 
                src="{{verifysample}}" 
                alt="Verification Badge Sample" 
                class="responsive-img border border-secondary rounded"
            >
            <div class="zoom-indicator position-absolute top-50 start-50 translate-middle">
                <i class="fa fa-search-plus primary-color" aria-hidden="true"></i>
                <span class="text-muted">Click to Zoom</span>
            </div>
        </div>
    </div>
</div>

    </div>
</div>
<script src="https://cdn.ckeditor.com/4.22.1/full/ckeditor.js"></script>

<script>
    CKEDITOR.replace('cke-editor-extra-content', {
        allowedContent: true,
        fullPage: true
    });
</script>

{{#js}}
require(['jquery', 'local_verify_badge/zoom'], function($, zoom) {
$('.responsive-img').click(function(event) {
zoom.zoomIn(event, $('#page'));
});
});
{{/js}}
