<div class="card rounded-0" style="position: unset;">
    <div class="card-body">
        <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
                {{#data}}
                    {{{.}}}
                {{/data}}
            </div>
        </div>
    </div>
</div>