<div class="local_verify_badge_verify_badge" id="local_verify_badge_verify_badge">
    <div class="row justify-content-center my-3">
        <div class="col-12 text-center bg-light p-3 rounded">
            <div class="col-md-9 d-flex align-items-center justify-content-center p-3">
                <i class="fa fa-user-circle user-icon mb-3" style="font-size: 30px" aria-hidden="true"></i>
                <div class="d-flex ms-2">
                    <p class="lead mb-0">This badge was issued to</p>
                    <h3 class="font-weight-bold ms-2 align-self-start mt-1 text-info">{{username}}</h3> 
                &nbsp; &nbsp;  <p class="lead">On {{issuedon}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
       <div class="row">
            <div class="col-5">
                <div class="badge">
                    <img src="{{#imageurl}}{{imageurl}}{{/imageurl}}" alt="" width="100%" height="auto">
                </div>
                <div class="text-center badge-text">
                    <button class="btn secondary btn-lg p-3" id="verify_badge">
                        <a href="{{badgelink}}" target="_blank">{{badgetext}}</a>
                    </button>
                </div>
            </div>
            <div class="col-7">
                <div class="title">
                    <h1>{{title}}</h1>
                </div>
                <div class="issueorg mt-3">
                    <p>Issued by <a href="{{orglink}}" target="_blank">{{issueorg}}</a></p>
                </div>
                <div class="description">
                    <p>{{{description}}}</p>
                </div><br><br>
                <div class="tags">
                    {{#tags}}
                        <button class="btn btn-md me-2">{{.}}</button>
                    {{/tags}}
                </div><br><br>
                <div class="skills">
                    <h3 class="my-4">Skills</h3>
                    {{#skills}}
                        <button class="btn btn-md btn-outline-secondary me-2">{{.}}</button>
                    {{/skills}}
                </div>
            </div>
        </div>
    </div>
</div>
