<div class="modal st-popup-zoom cursor-pointer" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="closeModalBtn">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="zoom-container">
                    {{#image}}
                        <img id="modalImage" src="{{src}}" class="w-100 rounded" />
                    {{/image}}
                    {{#video}}
                        <video id="modalVideo" class="w-100 rounded" controls>
                            <source src="{{src}}" type="{{type}}">
                        </video>
                    {{/video}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add this to your CSS for center and zoom functionality -->
<style>
    .modal {
        top: 10px;
        left: 10%;
    }
    /* Center modal content */
    .modal-dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin: 0;
    }

    .modal-content {
        width: 100%;
        max-width: 900px; /* Adjust the max-width as needed */
        border-radius: 8px;
    }

    .zoom-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .zoom-container img, .zoom-container video {
        transition: transform 0.2s ease-in-out;
        max-width: 100%;
        max-height: 80vh; /* Ensure it doesn't overflow the screen */
    }

    /* Center the modal's footer button */
    .modal-footer {
        display: flex;
        justify-content: center;
    }

    /* Modal body takes the full height and has scroll if content overflows */
    .modal.st-popup-zoom .modal-body {
        overflow-y: auto; /* Enable scrolling for overflowing content */
        height: 100%;
    }

    @media only screen and (min-width: 810px) {
    .modal .modal-dialog .modal-content {
        min-width: 100%;
    }
    }
</style>