{{!
    Template for displaying Vanta logs content.
}}
<div class="vanta-logs-content">
    {{#has_logs}}
        <div class="table-responsive">
            <table id="vanta-logs-display-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>{{#str}}user_email, local_vanta{{/str}}</th>
                        <th>{{#str}}course_name, local_vanta{{/str}}</th>
                        <th>{{#str}}sync_date, local_vanta{{/str}}</th>
                        <th>{{#str}}status, local_vanta{{/str}}</th>
                        <th>{{#str}}actions, local_vanta{{/str}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#logs}}
                        <tr>
                            <td>{{useremail}}</td>
                            <td>{{coursename}}</td>
                            <td>{{syncedon_formatted}}</td>
                            <td>
                                <span class="{{status_class}}">
                                    {{#status_success}}
                                        {{#str}}success, local_vanta{{/str}}
                                    {{/status_success}}
                                    {{#status_error}}
                                        {{#str}}error, local_vanta{{/str}}
                                    {{/status_error}}
                                    {{#status_info}}
                                        {{#str}}info, local_vanta{{/str}}
                                    {{/status_info}}
                                    {{#status_skipped}}
                                        {{#str}}skipped, local_vanta{{/str}}
                                    {{/status_skipped}}
                                </span>
                                {{#has_error}}
                                    <i class="fa fa-exclamation-circle text-danger ml-2" 
                                       data-toggle="tooltip" 
                                       title="{{error_message}}"></i>
                                {{/has_error}}
                            </td>
                            <td>
                                <a href="{{view_url}}" class="btn btn-sm btn-primary">
                                    {{#str}}view_details, local_vanta{{/str}}
                                </a>
                            </td>
                        </tr>
                    {{/logs}}
                </tbody>
            </table>
        </div>

        <div class="vanta-logs-pagination mt-3">
            {{#has_pagination}}
                <nav aria-label="{{#str}}pagination, local_vanta{{/str}}">
                    <ul class="pagination justify-content-center">
                        {{#pages}}
                            <li class="page-item {{#active}}active{{/active}}">
                                <a class="page-link" href="#" data-page="{{number}}">{{text}}</a>
                            </li>
                        {{/pages}}
                    </ul>
                </nav>
            {{/has_pagination}}
            
            <div class="text-center mt-2">
                {{#str}}showing_records, local_vanta, { "from": "{{showing_from}}", "to": "{{showing_to}}", "total": "{{total_logs}}" }{{/str}}
            </div>
        </div>
    {{/has_logs}}
    {{^has_logs}}
        <div class="alert alert-info">
            {{#str}}no_logs_found, local_vanta{{/str}}
        </div>
    {{/has_logs}}
</div> 