{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_vanta/training_sync_rules

    Vanta Integration completion sync rules configuration.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * frameworks_options - Array of available frameworks
    * courses_options - Array of available courses
    * selected_frameworks - Array of selected framework IDs
    * selected_courses - Array of selected course IDs
    * completion_mode - The completion mode (all or any)
    * sesskey - The session key for form submission
}}

<div class="local_vanta_training_sync_rules" id="local_vanta_training_sync_rules">
    <form id="vanta-sync-rules-form" class="mform">

        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <h4>{{#str}}training_sync_rules, local_vanta{{/str}}</h4>
                    <p class="text-muted">{{#str}}training_sync_rules_description, local_vanta{{/str}}</p>
                    <hr>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="resource_id" class="col-form-label">{{#str}}resource_id, local_vanta{{/str}}</label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="resource_id" name="resource_id" class="form-control resource_id" value="{{resourceid}}">
                    <div id="resource_id_error" class="invalid-feedback">
                        {{#str}}resource_id_error, local_vanta{{/str}}
                    </div>
                </div>
            </div>


            <!-- Frameworks Selection -->
            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="frameworks" class="col-form-label">{{#str}}frameworks, local_vanta{{/str}}</label>
                </div>
                <div class="col-md-9">
                    <select id="frameworks" name="frameworks[]" class="form-control" multiple="multiple">
                        <option value="SOC2" {{#selected_frameworks.SOC2}}selected{{/selected_frameworks.SOC2}}>{{#str}}SOC2, local_vanta{{/str}}</option>
                        <option value="ISO27001" {{#selected_frameworks.ISO27001}}selected{{/selected_frameworks.ISO27001}}>{{#str}}ISO27001, local_vanta{{/str}}</option>
                        <option value="HIPAA" {{#selected_frameworks.HIPAA}}selected{{/selected_frameworks.HIPAA}}>{{#str}}HIPAA, local_vanta{{/str}}</option>
                        <option value="PCI" {{#selected_frameworks.PCI}}selected{{/selected_frameworks.PCI}}>{{#str}}PCI, local_vanta{{/str}}</option>
                        <option value="GDPR" {{#selected_frameworks.GDPR}}selected{{/selected_frameworks.GDPR}}>{{#str}}GDPR, local_vanta{{/str}}</option>
                        <option value="CCPA" {{#selected_frameworks.CCPA}}selected{{/selected_frameworks.CCPA}}>{{#str}}CCPA, local_vanta{{/str}}</option>
                    </select>
                    <small class="form-text text-muted">{{#str}}frameworks_description, local_vanta{{/str}}</small>
                    <div id="frameworks_error" class="invalid-feedback">
                        {{#str}}frameworks_error, local_vanta{{/str}}
                    </div>
                </div>
            </div>
            
            <!-- Courses Selection -->
            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="courses" class="col-form-label">{{#str}}courses, local_vanta{{/str}}</label>
                </div>
                <div class="col-md-9">
                    <select id="courses" name="courses[]" class="form-control" multiple="multiple">
                        {{#courses_options}}
                            <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                        {{/courses_options}}
                    </select>
                    <small class="form-text text-muted">{{#str}}courses_description, local_vanta{{/str}}</small>
                    <div id="courses_error" class="invalid-feedback">
                        {{#str}}courses_error, local_vanta{{/str}}
                    </div>
                </div>
            </div>
            
            <!-- Completion Mode -->
            <div class="row mb-4" id="completion_mode_container" style="{{^show_completion_mode}}display: none;{{/show_completion_mode}}">
                <div class="col-md-3">
                    <label for="completion_mode" class="col-form-label">{{#str}}completion_mode, local_vanta{{/str}}</label>
                </div>
                <div class="col-md-9">
                    <select id="completion_mode" name="completion_mode" class="form-control">
                        <option value="any" {{#is_mode_any}}selected{{/is_mode_any}}>{{#str}}any_course_completion, local_vanta{{/str}}</option>
                        <option value="all" {{#is_mode_all}}selected{{/is_mode_all}}>{{#str}}all_courses_must_be_completed, local_vanta{{/str}}</option>
                    </select>
                    <small class="form-text text-muted">{{#str}}completion_mode_description, local_vanta{{/str}}</small>
                    <div id="completion_mode_error" class="invalid-feedback">
                        {{#str}}completion_mode_error, local_vanta{{/str}}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button type="submit" class="btn btn-primary save-sync-rules" id="save_sync_rules">{{#str}}save, core{{/str}}</button>
                    <div id="vanta-save-status" class="mt-2"></div>
                </div>
            </div>
        </div>
    </form>
</div>